#admin-panel {
  position: fixed;
  bottom: 0;
  background: #0c0c0c;
  padding: 1em;
}
#admin-panel > * {
  margin-right: 1ch;
  font-size: 8pt;
}
#admin-panel input[type="text"], #admin-panel select {
  background: #000;
  border: 1px solid #aaa;
  color: #aaa;
  padding: 4px;
}
.cutout {
  left: var(--x);
  top: var(--y);
  position: absolute;
}
